@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.grid {
  padding: $space-5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $space-3;
  align-content: start;

  @include mobile {
    grid-template-columns: 1fr;
    padding-bottom: calc(#{$bottom-tab-height} + #{$space-4});
  }
}

.calendarCard {
  grid-column: span 2;

  @include mobile {
    grid-column: span 1;
  }
}

.skeletonItem {
  margin-bottom: $space-2;
}

.empty {
  font-size: $font-size-sm;
  color: $color-text-muted;
  padding: $space-4 0;
  text-align: center;
}
